@media only screen and (min-width: 641px){
	body .gform_wrapper .top_label input.medium,
	body .gform_wrapper .top_label select.medium,
	body .gform_wrapper.gform_validation_error .top_label input.medium,
	body .gform_wrapper.gform_validation_error .top_label select.medium {
		width: 100%;
	}
	body .gform_wrapper .field_description_below .gfield_description {
		padding-top: 0;
	}
}
body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
body .gform_wrapper textarea.textarea,
body div.form_saved_message div.form_saved_message_emailform form input[type=text],
body .gform_wrapper select.gfield_select {
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #fff;
	padding: 8px;
	box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.2);
	color: #333;
	font-size: 16px;
	line-height: 1.2;
}

body .gform_wrapper input[type="button"],
body .gform_wrapper input[type="submit"],
body .gform_wrapper button {
	display: inline-block;
	position: relative;
    border: 1px solid rgba(10, 2, 2, 0.23);
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
	border-color: #c9c9c9;
	border-radius: 0px;
	padding: .3em 1em!important;
	color: #212121;
	cursor: pointer;
	&:hover {
		border-color: rgba(10, 2, 2, 1);
	}
}

body select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: inherit;
	border-radius: 0;
	font-size: 18px;
	position: relative;
	cursor: pointer;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></g></svg>') !important;
	// background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiMwMDAwMDAiLz4KICA8L2c+Cjwvc3ZnPgo=);
	background-size: 16px !important;
	background-position: calc(100% - 15px) calc(50%) !important;
	background-repeat: no-repeat !important;
	&:hover {
		background-color: #f2f2f2 !important;
	}
}

body {
	input.text,
	input.title,
	input[type=email],
	input[type=password],
	input[type=tel],
	input[type=text],
	select,
	textarea {
		background: #fff;
		border: 1px solid #d8d8d8;
		padding: 15px;
	}
}


.gform_wrapper form.design-survey,
.gform_confirmation_wrapper.design-survey {

	width: 100% !important;
	max-width: 800px;
	@media( max-width: 860px ){
		max-width: calc( 100% - 60px );
	}
	margin: 0 auto;
	background: #fff;
	padding: 30px 20px;
	// box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.3);

	.gform_body {

	}

	.gf_page_steps {
		// initial state
		display: none;
	}

	.gfield {
		max-width: 500px;
		margin: 0 auto !important;
	}

	.gfield_label {
		font-size: 1.3em;
		font-weight: 500;
		margin-bottom: 0.45em;
	}

	.gfield_description {
		margin: 1em 0;
	}

	.description,
	.gfield_description,
	.gsection_description,
	.instruction {
		font-size: 1em;
	}

	.paging-toolbar {
		background: #000;
		color: #fff;
		margin-bottom: 3em;
		margin-top: -15px;
		width: 100%;
		display: table;
		> * {
			display: table-cell;
			&:first-child {
				font-size: 24px;
				font-weight: 500;
				text-align: left;
			}
			&:last-child {
				font-size: 16px;
				font-weight: 400;
				text-align: right;
			}
		}

	}
	.flex-row {
		@media only screen and (min-width: 641px){
			display: flex;
			flex-direction: row;
			width: 100%;
			align-items: flex-start;
			> * {
				flex: 1;

			}
			.gform_fields {
				padding-right: 1em;
			}
		}
		.gform_page_footer {
			text-align: left;
			border-top: 0;
		}
	}
	.two-columns {
		@media only screen and (min-width: 641px){
			// ul li.gfield {
			// 	float: left;
			// 	clear: none;
			// 	width: calc(50% - 20px);
			// 	&.image-right {
			// 		float: right;
			// 	}
			// }
			// .gform_page_footer {
			// 	float: left;
			// 	width: calc(50% - 20px);
			// 	clear: none;
			// 	text-align: left;
			// 	border-top: 0;
			// }
		}
	}
	.gform_page_footer {
		text-align: center;
		border-top: 0;
	}
	.gform_previous_button {
		display: none !important;
	}
}
body {
	.gform_wrapper li.gfield.gf_list_2col ul.gfield_checkbox li,
	.gform_wrapper li.gfield.gf_list_2col ul.gfield_radio li {
		font-size: 1em;
		label {
			font-size: inherit;
		}
	}
}

body .grecaptcha-badge { display: none; }
